@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>;
@{
	Layout = "mainLayout.cshtml";
}

<partial name="Partials/Layout/_PageHeader" model="(IPageHeader)Model" />

<section class="service-detail-section">
    <div class="container service-detail-container @(Model.ServiceDetailAsides != null && Model.ServiceDetailAsides.Any() ? "has-aside" : "no-aside")">

        @if (Model.ServiceDetailAsides != null && Model.ServiceDetailAsides.Any())
        {
            <aside class="service-detail-aside">

                @Html.GetBlockListHtml(Model.ServiceDetailAsides)
            </aside>
            <div class="divider"></div>
        }

        <div class="service-content rich-text">
            @Html.Raw(Model.ServiceDetailBody)
        </div>
        
    </div>
    @Html.GetBlockListHtml(Model.ServiceDetailSections)
</section>