header {
    position: relative;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

.nav-toggle {
    background: none;
    border: none;
    color: var(--primary);
    cursor: pointer;
    display:block;
    font-size: 20px;
}
    .nav-toggle:hover {
        color: var(--secondary-dark);
        transition: color 0.3s ease;
    }

.search-icon {
    display: none;
}

.nav-list {
    display: none;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.nav-list.open {
    display: flex;
}

  .nav-link {
        color: var(--text-body);
        font-weight: var(--font-bold);
  }

    .nav-link:hover {
        color: var(--nav-hover);
        transition: color 0.3s ease;
    }

.current a {
    color: var(--nav-hover);
}

@media (width >= 992px) {

    .nav-container {
        padding-block: 2rem;
    }

    .nav-toggle {
        display: none;
    }


    .nav-list {
        display: flex;
        flex-direction: row;
        position: static;
        justify-items: center;
        background: none;
        box-shadow: none;
        padding: 0;
        gap: 5rem;
        list-style: none;
        width: auto;
    }

    .search-icon {
        display: flex;
        align-items: center;
    }

        .search-icon i {
            color: var(--text-body);
            font-weight: var(--font-bold);
        }

            .search-icon i:hover {
                color: var(--nav-hover);
                transition: color 0.3s ease;
                cursor: pointer;
            }
}