.service-detail-container {
    display: grid;
    align-items: start;
    gap: 2rem;
    padding-top: 2rem;
    grid-template-columns: 1fr; 
}

.service-detail-aside,
.divider {
    display: none;
}

.service-content {
    padding: 1rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.contact-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

    .contact-card h4,
    .contact-card p {
        color: var(--text-secondary) !important;
    }

.service-content h4 {
    margin: 1rem 0;
}

.service-content img {
    width: 100%;
}

li::marker {
    color: var(--secondary-dark);
}

@media (width >= 1024px) {
    .service-detail-container.has-aside {
        grid-template-columns: 1fr auto 2fr;
    }

    .service-detail-container.no-aside {
        grid-template-columns: 1fr;
    }


    .service-detail-aside,
    .divider {
        display: block;
    }

    .divider {
        border: 1px solid var(--divider);
        height: 100%;
        justify-self: center;
        align-self: center;
    }

    .service-content {
        padding: 0; 
    }
}