/*UMBRACO RTE  -kolla varför det inte fungerar i RTE*/

.text-headline {
    color: #4F5955;
   
}

.text-body {
    color: #535656;
}

.text-body-light {
    color: #9C9EA6;
}

.text-secondary-dark {
    color: #D9C3A9;
}

.text-secondary {
    color: #F2EDDC;
}

.text-white {
    color: #FFFFFF;
}


.rich-text p {
    margin: 0;
    padding: 0;
}

    .rich-text p + p {
        margin-top: 1rem;
    }


.rte {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}