/*UMBRACO RTE  -kolla varför det inte fungerar i RTE*/




p {
    margin: 0;
    color: #9C9EA6;
}


h2 {
    font-size: 40px;
    font-weight: 700;
}


h3 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 700;
}


.text-headline {
    color: #4F5955;
}

.text-body {
    color: #535656;
}

.text-body-light {
    color: #9C9EA6;
}

.text-secondary-dark {
    color: #D9C3A9;
}

.text-secondary {
    color: #F2EDDC;
}

.text-white {
    color: #FFFFFF;
}

.label {
    color: #D9C3A9;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    padding: 0.5em;
}

.rich-text p {
    margin: 0;
    padding: 0;
}

    .rich-text p + p {
        margin-top: 1rem;
    }

.rte {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}