@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./rte.css);
@import url(./form.css);
@import url(layout/_topbar.css);
@import url(./layout/_header.css);
@import url(./layout/_pageHeader.css);
@import url(./layout/_footer.css);
@import url(./components/_hero.css);

* {
    box-sizing: border-box;
}


:root {
    --font-standard: "Poppins", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    /*LAYOUT*/
    --page-padding-inline: clamp(1rem, 12vw, 375px);
    /*COLOR*/
    --white: #FFFFFF;
    --white-200: #F7F7F7;
    --white-300: #EAEAEA;
    --black: #000000;
    --black-footer: #0E0E0E;
    --primary: #4F5955;
    --primary-100: #606966;
    --secondary: #F2EDDC;
    --secondary-dark: #D9C3A9;
    --grey-100: #EBEBEB;
    --grey-200: #9C9EA6;
    --grey-400: #535656;
    --grey-500: #2D303A;
    --red-error: #d9534f;
    /*BACKGROUND*/
    --background: var(--white);
    --background-light: var(--white-200);
    --background-primary: var(--primary);
    --background-page-header: var(--white-200);
    --background-aboutform-header: var(--primary);
    --background-footer: var(--black-footer);
    /*TEXT*/
    --headline-color: var(--primary);
    --text-body: var(--grey-400);
    --text-body-light: var(--grey-200);
    --text-secondary: var(--secondary);
    --text-secondary-dark: var(--secondary-dark);
    --text-white: var(--white);
    --social-link: var(--text-white);
    --breadcrumb-text: var(--primary);
    --text-footer: var(--primary);
    --text-review: var(--grey-500);
    --text-placeholder: var(--grey-200);
    /*BORDER*/
    --border-cards: var(--white-300);
    --border-light-pr: var(--primary-100);
    --border-form-input: var(--grey-200);
    --border-form-input-focus: var(--primary);
    --divider: var(--white-300);
    /*BUTTONS*/
    --button-dark: var(--grey-400);
    --button-dark-hover: var( --primary-100);
    --nav-hover: var(--secondary-dark);
}


html, body {
    margin: 0;
    color: var(--text-dark);
    background-color: var(--background);
    font-size: 16px;
    font-family: var(--font-standard);
}

a {
    text-decoration: none;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {

    margin-inline: auto;
    padding-inline: var(--page-padding-inline);
}

.hidden {
    display: none !important;
}

/*TYPOGAPHY*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-standard);
    margin: 0;
    padding: 0;
    color: var(--headline-color);
    line-height: 1.3;
}

p {
    margin: 0;
    color: var(--text-body-light);
}

h1 {
    font-size: 70px;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 40px;
    font-weight: var(--font-bold);
}


h3 {
    font-size: 30px;
    font-weight: var(--font-bold);
}

h4 {
    font-size: 22px;
    font-weight: var(--font-semibold);
}

h5 {
    font-size: 20px;
    font-weight: var(--font-bold);
}

a{
    text-decoration: none;
}

.label {
    color: var(--text-secondary-dark);
    font-size: 14px;
    font-weight: var(--font-bold);
    justify-content: center;
    padding: 0.5em;
   
}

.button {
    background: var(--button-dark);
    padding: 0.5rem;
    color: var(--text-secondary);
    border-radius: 3px;
    margin-top: 2rem;
    border: none;
}
    .button:hover {
        background-color: var(--button-dark-hover);
        transition: color 0.3s ease;
        box-shadow: 0 3px 8px rgba(0,0,0,0.15);
        cursor: pointer;
    }


/*OUR STORY SECTION*/

.our-story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    margin-inline: auto;
    background-image: url("../images/dot-map-our-story.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-clip: content-box;
    
}

.our-story-img {
    display: block;
}


.our-story-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10rem;
}
@media (max-width: 768px) {
    .our-story-container {
        background-image: none; 
        padding: 1rem;
    }

    .our-story-text {
        padding: 1rem;
    }

    .our-story-img {
        display: none; 
    }
}


/*ABOUT*/

.about-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    padding: 3rem 0;
    align-content:center;
}
.about-content p {
    font-size: 14px;
    padding-top: 0.8rem;
}

.img-text {
    color: var(--primary) !important;
    padding: 0 !important;
}
/*REVIEW SECTION*/

.review-section {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.review-container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    position: relative;
}

.review-text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    z-index: 2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.review-image { 
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.reviewer-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.star-img{
    height:14px;
    width:95px;
}
.reviewer-name {
    font-size: 14px;
    color: var(--text-review);
}
.reviewer-source {
    font-size: 20px;
    color: var(--text-review);
}

@media (max-width: 900px) {
    .review-container {
        display: flex;
        flex-direction: column;
    }

    .review-image {
        display: none; 
    }

    .review-text {
        padding: 2rem;
        text-align: center;
        align-items: center;
    }
}
.review-container.no-image {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*CONTACT US*/
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
   
    padding-top: 2rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding:2rem;

}

.contact-image{
    position: relative;
    background-image: url("../images/Bg-contact.svg"), url("../images/Dot-bg-contact.svg");
    background-position: bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;

}

.contact-img {
    position: relative;
    right: 0;
   
    width: 100%;
    z-index: 1;
}


.contact-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

    .contact-list span {
        color: var(--headline-color);
        font-weight: var(--font-semibold);
        
    }
    .contact-list p {
        padding-top: 0.5rem;
    }
    .contact-list,
    .contact-list ul,
    .contact-list li {
        list-style: none;
        padding: 0;
    }
    .contact-list i {
        display: inline-block;
        padding-right: 1.5rem;
        color: var(--secondary-dark);
    }

@media (max-width: 992px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}


@media (max-width: 768px) {
    .contact-container {
        background-image: none;
    }

    .contact-img {
        display: none;
    }
}

/*CONTACT CALLBACK */


.contact-callback-section {
    position: relative;
    width: 100%;
    overflow: visible;
    padding-bottom: 6rem; 
    margin: 2rem 0;
}


.contact-callback-bg {
    position: relative;
    height: 85vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-callback-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    position: relative;
}


.callback-content-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 100%;
    position: absolute;
    bottom: -4rem;
    z-index: 2;
    text-align: center;
}


.contact-callback-text {
    margin-bottom: 1rem;
    color: var(--text-body, #333);
}


.callback-form--two-columns .callback-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
    justify-items: center;
}
.callback-form--two-columns .select-drop {
    width: 100%;
   
}

.callback-form--two-columns .callback-submit-btn,
.callback-form--two-columns textarea {
    grid-column: 1 / -1;
}


@media (max-width: 768px) {
    .callback-form--two-columns .callback-inputs {
        grid-template-columns: 1fr;
    }
}


/*.contact-callback-section {
    position: relative;
    width: 100%;
    overflow: visible; 
}

.contact-callback-bg {
    position: relative;
    height: 80vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-callback-inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-body, #333);
}

.contact-callback-form-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: -5rem; 
}


.callback-form-container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    padding: 2rem;
    width: 100%;
    max-width: 800px;
}

.callback-form--two-columns .callback-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
    justify-items: center;
}

.callback-form--two-columns .callback-submit-btn,
.callback-form--two-columns .select-drop,
.callback-form--two-columns textarea {
    grid-column: 1 / -1;
}*/




/*.contact-callback-section {
    position: relative;

}
.contact-callback-bg {
    position: relative;
    z-index: 0;
}

    .contact-callback-bg::before {
        content: "";
        position: absolute;
        inset: 0;
        height: 80%;

        z-index: -1;
    }
*/

/*.contact-callback-bg {
    width: 100%;
    height: 40%;
    display: flex;
   
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}
*/
/*.contact-callback-container {
    background-color: white;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
    max-width: 800px;
}

.callback-form-container {
   
  
}*/


/*SUCCESS SECTION*/
.success-section {
    position: relative;
    background-color: var(--white);
}

.bg-container {
    position: relative;
    z-index:0; 
}

    .bg-container::before {
        content: "";
        position: absolute;
        inset: 0;
        height: 80%;
        background-color: var(--success-section-color);
        z-index: -1;
    }


.success-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/success-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-clip: content-box;
    padding-top: 3rem;
    position: relative;
    z-index: 1;
}

.success-title {
    color: var(--text-white) !important;
}

.success-stat-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.success-stat-number {
    font-size: 100px;
    font-weight: var(--font-semibold);
}

.success-stat-description{
    font-size: 18px;
    font-weight: var(--font-semibold);
    color: var(--text-white) !important;
}

@media (max-width: 992px) {
    .success-stat-list {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

}


@media (max-width: 768px) {
    .success-container {
       background-image: none; 
    }
    .success-img{
        display: none;
    }
    .success-stat-number {
        font-size: 60px;
    }

    .success-stat-description {
        font-size: 16px;
    }

    .bg-container::before {
        height: 100%;
    }
}

/*SERVICE SECTION*/
.service-header {
    padding-top: 4rem;
    flex-direction: column;
}

    .service-card-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 2rem;
        padding-block: 3rem;
    }

    .service-card {
        display: flex;
        flex-direction: column;
        background: var(--background);
        border: 1px solid var(--border-cards);
        box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    }

        .service-card p {
            color: var(--text-body);
            font-size: 14px;
            padding: 1rem 2rem;
        }

        .service-card h4 {
            padding: 1.5rem;
        }

    .service-card-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        padding-top: 1rem;
    }

    /*OUR PARTNERS*/

    .partner-logo-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        padding: 4rem 0;
    }

    /*SERVICE DETAIL SECTION*/

.service-detail-container {
    display: grid;
    align-items: start;
    gap: 2rem;
    padding-top: 2rem;
}

    .service-detail-container.has-aside {
        grid-template-columns: 1fr auto 2fr;
    }
  
    .service-detail-container.no-aside {
        grid-template-columns: 1fr;
    }


.divider {
    border: 1px solid var(--divider);
    height: 100%;
    justify-self: center;
    align-self: center;
}


.info-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.contact-card {
   display:flex;
   gap: 2rem;
   padding: 2rem;
}
.contact-card h4, .contact-card p {
    color: var(--text-secondary) !important;
}


    .service-content h4 {
        margin: 1rem 0;
    }

.service-content img {
    width: 100%;
}

li::marker {
    color: var(--secondary-dark);
}


@media (max-width: 1024px) {
    .service-detail-container {
        grid-template-columns: 1fr;
    }

    .service-detail-aside,
    .divider {
        display: none;
    }

    .service-content {
        padding: 1rem;
    }
}

    /*TEAM SECTION*/
    .member-header {
        padding-top: 4rem;
        flex-direction: column;
    }

    .member-card-list {
        display: grid;
        gap: 1rem;
        padding-block: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        justify-content: center;
    }


    @media (min-width: 1024px) {
        .member-card-list {
            grid-template-columns: repeat(12, 1fr);
        }


            .member-card-list > * {
                grid-column: span 3;
            }

            .member-card-list > :nth-child(-n+3) {
                grid-column: span 4;
            }
    }

    .member-card {
        display: flex;
        flex-direction: column;
        background: var(--background);
        border: 1px solid var(--border-cards);
        box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    }

    .member-card-content {
        padding: 2rem;
    }

    .member-card p {
        font-size: 13px;
    }

    .member-card-img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }