@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}


:root {
    --font-standard: "Poppins", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    /*COLOR*/
    --white: #FFFFFF;
    --background-grey: #F7F7F7;
    --black: #000000;
    --primary: #4F5955;
    --secondary: #F2EDDC;
    --secondary-dark: #D9C3A9;
    --grey-light: #9C9EA6;
    --grey-dark: #535656;
    /*BACKGROUND*/
    --background: var(--white);
    --background-grey: var( --background-grey);
    /*TEXT*/
    --headline-color: var(--primary);
    --text-body: var(--grey-dark);
    --text-body-light: var(--grey-light);
    --text-secondary-dark: var(--secondary-dark);
    --text-white: var(--white);
    --text-secondary: var(--secondary);
    
    /*BORDER*/
    /*BUTTONS*/
    --button-dark: var(--grey-dark);
}

html, body {
    margin: 0;
    color: var(--text-dark);
    background-color: var(--background);
    font-size: 16px;
    font-family: var(--font-standard);
}

a {
    text-decoration: none;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*TYPOGAPHY*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-standard);
    margin: 0;
    padding: 0;
    color: var(--headline-color);
    line-height: 1.3;
}

h1 {
    font-size: 70px;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 40px;
    font-weight: var(--font-bold);
}

h3 {
    font-size: 30px;
    font-weight: var(--font-bold);
}

h4 {
    font-size: 22px;
    font-weight: var(--font-semibold);
}

.label {
    color: var(--text-secondary-dark);
    font-size: 14px;
    font-weight: var(--font-bold);
    justify-content: center;
    padding: 0.5em;
}

/*HERO*/

.hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-img-container {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: auto; 
    display: block;
    object-fit: contain;
    object-position: center right;
}

.hero-container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8rem;
    z-index: 10;
}

.hero-content {
    width: 50%;
    color: var(--text-body);
    
}
.hero-button{
padding: 2rem;
}
.contact-button {
    background: var(--button-dark);
    padding: 0.5rem;
    color: var(--text-secondary);
    border-radius: 3px;
    
}

/*SERVICE SECTION*/

.service-header {
    padding-top: 4rem;
    flex-direction: column;
}

.service-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    padding: 3rem 8rem;
}

.service-card {
    display: flex;
    flex-direction: column;
    background: var(--background);
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.service-card p {
   color: var(--text-body);
   padding: 1rem 2rem;
}
    .service-card h4 {
        
        padding-left:  1.5rem;
    }
.service-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-top: 1rem;
   
}

