@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./rte.css);
@import url(./layout/_topbar.css);
@import url(./layout/_header.css);
@import url(./layout/_pageHeader.css);
@import url(./layout/_footer.css);
@import url(./components/_hero.css);
@import url(./components/_forms.css);
@import url(./components/_ourStory.css);
@import url(./components/_ourSuccess.css);
@import url(./components/_about.css);
@import url(./components/_ourServices.css);
@import url(./components/_partners.css);
@import url(./components/_team.css);
@import url(./components/_contact.css);
@import url(./components/_reviews.css);
@import url(./pages/_serviceDetail.css);

* {
    box-sizing: border-box;
}

:root {
    --font-standard: "Poppins", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    /*LAYOUT*/
    --page-padding-inline: clamp(1rem, 12vw, 375px);
    /*COLOR*/
    --white: #FFFFFF;
    --white-200: #F7F7F7;
    --white-300: #EAEAEA;
    --black: #000000;
    --black-footer: #0E0E0E;
    --primary: #4F5955;
    --primary-100: #606966;
    --secondary: #F2EDDC;
    --secondary-dark: #D9C3A9;
    --grey-100: #EBEBEB;
    --grey-200: #9C9EA6;
    --grey-400: #535656;
    --grey-500: #2D303A;
    --red-error: #d9534f;
    /*BACKGROUND*/
    --background: var(--white);
    --background-light: var(--white-200);
    --background-primary: var(--primary);
    --background-page-header: var(--white-200);
    --background-aboutform-header: var(--primary);
    --background-footer: var(--black-footer);
    /*TEXT*/
    --headline-color: var(--primary);
    --text-body: var(--grey-400);
    --text-body-light: var(--grey-200);
    --text-secondary: var(--secondary);
    --text-secondary-dark: var(--secondary-dark);
    --text-white: var(--white);
    --social-link: var(--text-white);
    --breadcrumb-text: var(--primary);
    --text-footer: var(--primary);
    --text-review: var(--grey-500);
    --text-placeholder: var(--grey-200);
    /*BORDER*/
    --border-cards: var(--white-300);
    --border-light-pr: var(--primary-100);
    --border-form-input: var(--grey-200);
    --border-form-input-focus: var(--primary);
    --divider: var(--white-300);
    /*BUTTONS*/
    --button-dark: var(--grey-400);
    --button-dark-hover: var( --primary-100);
    --nav-hover: var(--secondary-dark);
}


html, body {
    margin: 0;
    color: var(--text-dark);
    background-color: var(--background);
    font-size: 16px;
    font-family: var(--font-standard);
}

a {
    text-decoration: none;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {

    margin-inline: auto;
    padding-inline: var(--page-padding-inline);
}

.hidden {
    display: none !important;
}

/*TYPOGAPHY*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-standard);
    margin: 0;
    padding: 0;
    color: var(--headline-color);
    line-height: 1.3;
}

p {
    margin: 0;
    color: var(--text-body-light);
}

h1 {
    font-size: 70px;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 40px;
    font-weight: var(--font-bold);
}


h3 {
    font-size: 30px;
    font-weight: var(--font-bold);
}

h4 {
    font-size: 22px;
    font-weight: var(--font-semibold);
}

h5 {
    font-size: 20px;
    font-weight: var(--font-bold);
}

a{
    text-decoration: none;
}

.label {
    color: var(--text-secondary-dark);
    font-size: 14px;
    font-weight: var(--font-bold);
    justify-content: center;
    padding: 0.5em;
   
}

.button {
    background: var(--button-dark);
    padding: 0.5rem;
    color: var(--text-secondary);
    border-radius: 3px;
    margin-top: 2rem;
    border: none;
}
    .button:hover {
        background-color: var(--button-dark-hover);
        transition: color 0.3s ease;
        box-shadow: 0 3px 8px rgba(0,0,0,0.15);
        cursor: pointer;
    }




