@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}


:root {
    --font-standard: "Poppins", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    /*LAYOUT*/
    --page-padding-inline: clamp(1rem, 12vw, 375px);
    /*COLOR*/
    --white: #FFFFFF;
    --white-200: #F7F7F7;
    --white-300: #EAEAEA;
    --black: #000000;
    --primary: #4F5955;
    --primary-100: #606966;
    --secondary: #F2EDDC;
    --secondary-dark: #D9C3A9;
    --grey-100: #EBEBEB;
    --grey-200: #9C9EA6;
    --grey-400: #535656;
    /*BACKGROUND*/
    --background: var(--white);
    --background-light: var(--white-200);
    --background-primary: var(--primary);
    /*TEXT*/
    --headline-color: var(--primary);
    --text-body: var(--grey-400);
    --text-body-light: var(--grey-200);
    --text-secondary-dark: var(--secondary-dark);
    --text-white: var(--white);
    --text-secondary: var(--secondary);
    --social-link: var(--text-white);
    /*BORDER*/
    --border-cards: var(--white-300);
    --border-light-pr: var(--primary-100);
    /*BUTTONS*/
    --button-dark: var(--grey-400);
    --nav-hover: var(--secondary-dark);
}

html, body {
    margin: 0;
    color: var(--text-dark);
    background-color: var(--background);
    font-size: 16px;
    font-family: var(--font-standard);
}

a {
    text-decoration: none;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {

    margin-inline: auto;
    padding-inline: var(--page-padding-inline);
}

/*TYPOGAPHY*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-standard);
    margin: 0;
    padding: 0;
    color: var(--headline-color);
    line-height: 1.3;
}

p {
    margin: 0;
    color: var(--text-body-light);
}

h1 {
    font-size: 70px;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 40px;
    font-weight: var(--font-bold);
}

h3 {
    font-size: 30px;
    font-weight: var(--font-bold);
}

h4 {
    font-size: 22px;
    font-weight: var(--font-semibold);
}

a{
    text-decoration: none;
}

.label {
    color: var(--text-secondary-dark);
    font-size: 14px;
    font-weight: var(--font-bold);
    justify-content: center;
    padding: 0.5em;
}

/*TOPBAR*/
.topbar {
    background: var(--background-primary);
}
.topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}
.topbar-address {
    color: var(--text-white);
    font-size: 13px;
}

.social-container {
    display: flex;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--social-link);
    border-left: 0.8px solid var( --border-light-pr);
}

    .social-link:last-child {
        border-right: 0.8px solid var( --border-light-pr);
    }

    .social-link i:hover {
        
        color: var(--nav-hover);
        transition: color 0.3s ease;
        cursor: pointer;
    }

/*HEADER*/
header {
    position: relative;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-block: 2rem;
}

.nav-list {
    display: flex;
    justify-items: center;
    gap: 10rem;
    list-style: none;
}
.nav-link {
    color: var(--text-body);
    font-weight: var(--font-bold);
   
}
.nav-link:hover {
    color: var(--nav-hover);
    transition: color 0.3s ease;
}

.current a {
    color: var(--nav-hover);
  
}

.search-icon {
    display: flex;
    align-items: center;

}
    .search-icon i {
        color: var(--text-body);
        font-weight: var(--font-bold);
    }
        .search-icon i:hover {
            color: var(--nav-hover);
            transition: color 0.3s ease;
            cursor: pointer;
        }


/*HERO*/
.hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-img-container {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: auto; 
    display: block;
    object-fit: contain;
    object-position: center right;
}
.hero-container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: var(--page-padding-inline);
    z-index: 10;
}

.hero-content {
    width: 50%;
    color: var(--text-body);

}

.hero-text {
   margin-bottom: 2rem;
}

.contact-button {
    background: var(--button-dark);
    padding: 0.5rem;
    color: var(--text-secondary);
    border-radius: 3px;
    margin-top: 2rem;
}

/*SERVICE SECTION*/

.service-header {
    padding-top: 4rem;
    flex-direction: column;
}

.service-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    padding-block: 3rem;
}

.service-card {
    display: flex;
    flex-direction: column;
    background: var(--background);
   border: 1px solid var(--border-cards);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.service-card p {
   color: var(--text-body);
   font-size: 14px;
   padding: 1rem 2rem;
}
    .service-card h4 {
        
        padding: 1.5rem;
    }
.service-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-top: 1rem;
   
}

/*SERVICE DETAIL SECTION*/

.service-detail-container {
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    align-items: start;
    gap: 2rem;
   
}

aside {
    display: grid;
    padding: 4rem;

}

.divider {
    border: 2px solid var(--border-cards);
    height: 80%;
    justify-self: center; 
    align-self: center;
}
.info-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
   
}

/*TEAM SECTION*/
.member-header {
    padding-top: 4rem;
    flex-direction: column;
}

.member-card-list {
    display: grid;
    gap: 1rem;
    padding-block: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
}


@media (min-width: 1024px) {
    .member-card-list {
        grid-template-columns: repeat(12, 1fr); 
    }

       
        .member-card-list > * {
            grid-column: span 3;
        }

        .member-card-list > :nth-child(-n+3) {
            grid-column: span 4;
        }
}

.member-card {
    display: flex;
    flex-direction: column;
    background: var(--background);
    border: 1px solid var(--border-cards);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.member-card-content {
    padding: 2rem;
}
.member-card p {
    font-size: 13px;
     
}

.member-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
   
}