.success-section {
    position: relative;
    background-color: var(--white);
}

.bg-container {
    position: relative;
    z-index: 0;
}

    .bg-container::before {
        content: "";
        position: absolute;
        inset: 0;
        height: 100%; 
        background-color: var(--success-section-color);
        z-index: -1;
    }

.success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
    background: none; 
    position: relative;
    z-index: 1;
}

.success-title {
    color: var(--text-white) !important;
}

.success-stat-list {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.success-stat-number {
    font-size: 60px;
    font-weight: var(--font-semibold);
}

.success-stat-description {
    font-size: 16px;
    font-weight: var(--font-semibold);
    color: var(--text-white) !important;
}

.success-img {
    display: none;
}


@media (width >= 768px) {
    .success-container {
        background-image: url("../images/success-bg.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: content-box;
        background-clip: content-box;
    }

    .success-img {
        display: block;
    }

    .bg-container::before {
        height: 80%;
    }

    .success-stat-number {
        font-size: 100px;
    }

    .success-stat-description {
        font-size: 18px;
    }
}


@media (width >= 992px) {
    .success-stat-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
