.review-section {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.review-container {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.review-text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    z-index: 2;
    padding: 2rem;
    align-items: center;
}

.review-image {
    display: none;
}
.reviewer-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.star-img {
    height: 14px;
    width: 95px;
}

.reviewer-name {
    font-size: 14px;
    color: var(--text-review);
}

.reviewer-source {
    font-size: 20px;
    color: var(--text-review);
}

.review-container.no-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media (width >= 990px) {
    .review-container {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        text-align: left;
    }

    .review-text {
        align-items: flex-start;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-inline: 2rem;
    }

    .review-image {
        display: block;
        right: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
    }
}
