.member-header {
    padding-top: 4rem;
    flex-direction: column;
}

.member-card-list {
    display: grid;
    gap: 1rem;
    padding-block: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
}


@media (width >= 1024px) {
    .member-card-list {
        grid-template-columns: repeat(12, 1fr);
    }


        .member-card-list > * {
            grid-column: span 3;
        }

        .member-card-list > :nth-child(-n+3) {
            grid-column: span 4;
        }
}

.member-card {
    display: flex;
    flex-direction: column;
    background: var(--background);
    border: 1px solid var(--border-cards);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.member-card-content {
    padding: 2rem;
}

.member-card p {
    font-size: 13px;
}

.member-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
