@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.QuestionFormSection)Model.Content;

}

<section>
    <div class="container">
        <h5>
            @content.QuestionFormTitle
        </h5>
    </div>
</section>