@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceCard)Model.Content;

}

@* <div class="service-card">
 
        <h4 class="service-card-title">@content.ServiceCardTitle</h4>
        @if (content.ServiceCardImage != null)
        {

            <img class="service-card-img" src="@content.ServiceCardImage.Url()" alt="@content.ServiceCardTitle" />
        }
  
    
    <div class="service-card-text">@Html.Raw(content.ServiceCardText)</div>
</div> *@
