@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamMember)Model.Content;

}


<div class="member-card">
       
    @if (content.TeamMemberImage != null)
    {
    <img class="member-card-img" src="@content.TeamMemberImage.Url()" alt="@content.TeamMemberImage" />
    }
    <div class="member-card-content">
    <h4 class="member-card-title">@content.TeamMemberName</h4>
    <p>@content.TeamMemberRole</p>
    </div>
    
</div>
