<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3aae52c-2c87-46ca-9bf2-4bdba3150943" Alias="About Callback Settings - Options " Level="1">
  <Info>
    <Name>About Callback Settings - Options </Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>