<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2294832-b50d-4821-8947-19ed0f0e7b73" Alias="About Page - Sections" Level="1">
  <Info>
    <Name>About Page - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f1379c22-b6b7-4531-b798-cae8bb23ed68"
    },
    {
      "contentElementTypeKey": "011e6c36-1ac7-49c7-bfc9-c280689cf0ea"
    },
    {
      "contentElementTypeKey": "6271c20f-b068-48e3-972f-95535e78dd19"
    }
  ]
}]]></Config>
</DataType>