<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90da11cb-763b-4951-9fc5-60b49872059e" Alias="Contact Callback settings - Options" Level="1">
  <Info>
    <Name>Contact Callback settings - Options</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>