<?xml version="1.0" encoding="utf-8"?>
<DataType Key="017c145b-bc4d-4ac7-a829-8054884e5308" Alias="Contact Card Color List" Level="2">
  <Info>
    <Name>Contact Card Color List</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Color+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "4F5955",
      "label": "Primary"
    },
    {
      "value": "9C9EA6",
      "label": "Grey-200"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>