<?xml version="1.0" encoding="utf-8"?>
<DataType Key="511170ae-ba9b-4463-95b6-943768375ca3" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b45611ea-ad11-4c84-b0fe-c2c36c71d959"
    },
    {
      "contentElementTypeKey": "cd3fb94b-b147-4121-b684-3cd2e978cbe1",
      "settingsElementTypeKey": "51405ab0-a259-4352-8fd1-9e010771cb3f"
    },
    {
      "contentElementTypeKey": "6271c20f-b068-48e3-972f-95535e78dd19",
      "settingsElementTypeKey": "a665cbdf-300e-408c-a177-edb3f0abbad5"
    },
    {
      "contentElementTypeKey": "011e6c36-1ac7-49c7-bfc9-c280689cf0ea"
    },
    {
      "contentElementTypeKey": "acfa3f9d-2423-4661-a099-676712acaa3b"
    },
    {
      "contentElementTypeKey": "410f1916-63a1-40f1-9779-8372a655f1dc"
    },
    {
      "contentElementTypeKey": "0d4cedeb-351e-46a6-958e-368b9fb3e0f8",
      "settingsElementTypeKey": "327d6046-c0ea-422c-a5c3-e716c06fa024"
    },
    {
      "contentElementTypeKey": "c5aefecd-525f-4b83-8554-194a0e8a7f83",
      "settingsElementTypeKey": "6c509fe5-bac0-4d5e-81c9-1c7d2d327afa"
    },
    {
      "contentElementTypeKey": "5bf82a6b-c627-4b86-8eaf-9e1841e402f0",
      "settingsElementTypeKey": "b4118bc0-bead-4790-8a2d-607cf818cc72"
    },
    {
      "contentElementTypeKey": "6665ed75-b3bd-418c-b28c-3b7fbba0343c"
    }
  ]
}]]></Config>
</DataType>