<?xml version="1.0" encoding="utf-8"?>
<DataType Key="511170ae-ba9b-4463-95b6-943768375ca3" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b45611ea-ad11-4c84-b0fe-c2c36c71d959"
    },
    {
      "contentElementTypeKey": "cd3fb94b-b147-4121-b684-3cd2e978cbe1",
      "settingsElementTypeKey": "51405ab0-a259-4352-8fd1-9e010771cb3f"
    },
    {
      "contentElementTypeKey": "6271c20f-b068-48e3-972f-95535e78dd19"
    },
    {
      "contentElementTypeKey": "011e6c36-1ac7-49c7-bfc9-c280689cf0ea"
    },
    {
      "contentElementTypeKey": "acfa3f9d-2423-4661-a099-676712acaa3b"
    }
  ]
}]]></Config>
</DataType>