<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40a95837-52a2-4f54-8f57-a19740601a24" Alias="Partner Section - Partners List" Level="1">
  <Info>
    <Name>Partner Section - Partners List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
      "label": "{umbValue: partnerName}"
    }
  ]
}]]></Config>
</DataType>