<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4fda7841-9de1-4925-95ce-26689b3dbe55" Alias="Review Color List" Level="2">
  <Info>
    <Name>Review Color List</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Color+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "FFFFFF",
      "label": "white"
    },
    {
      "value": "F7F7F7",
      "label": "white-200"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>