<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce598cff-43ab-4067-a73b-18c892c9b313" Alias="Service Color List" Level="2">
  <Info>
    <Name>Service Color List</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Color+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "EAEAEA",
      "label": "White-300"
    },
    {
      "value": "FFFFFF",
      "label": "White"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>