<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a81f4be-5df5-4350-8c34-6367495dadb4" Alias="Service Detail - Service Detail Sections" Level="1">
  <Info>
    <Name>Service Detail - Service Detail Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6271c20f-b068-48e3-972f-95535e78dd19",
      "settingsElementTypeKey": "a665cbdf-300e-408c-a177-edb3f0abbad5"
    },
    {
      "contentElementTypeKey": "6665ed75-b3bd-418c-b28c-3b7fbba0343c"
    }
  ]
}]]></Config>
</DataType>