<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c7a8e2a-9c58-45c7-81ae-55c0f0c1a819" Alias="Service Card List " Level="1">
  <Info>
    <Name>Service Card List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
      "label": "{umbValue: serviceCardTitle}"
    }
  ]
}]]></Config>
</DataType>