<?xml version="1.0" encoding="utf-8"?>
<DataType Key="450aeee5-448c-4c70-8e3c-fe082f65cc6d" Alias="Service Detail Aside List" Level="1">
  <Info>
    <Name>Service Detail Aside List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "80f58f13-0b04-40c6-9482-f3802be34058"
    }
  ]
}]]></Config>
</DataType>