<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a79548c-92ef-400c-a181-095fb47124c3" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b6af60cb-f2f1-4db7-a84c-b9b1d5deccde",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>