<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b262aced-26a6-4a88-bb1a-7e205368a06a" Alias="Site Settings -  - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Site Settings -  - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
      "label": "{umbValue: partnerName}"
    }
  ]
}]]></Config>
</DataType>