<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f93b3aa-d8fd-459a-a475-a19f07ce15f7" Alias="Success Item Color List" Level="2">
  <Info>
    <Name>Success Item Color List</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Color+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "FFFFFF",
      "label": "White"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary-dark"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>