<?xml version="1.0" encoding="utf-8"?>
<DataType Key="712c142f-99cf-4d49-8138-1baa725743b7" Alias="Success Section - Success List" Level="1">
  <Info>
    <Name>Success Section - Success List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f8442b3b-5f9a-405c-81d9-ccc74c71acd3",
      "label": "",
      "settingsElementTypeKey": "37acd97e-dd3b-4704-a091-482ca275143a"
    }
  ]
}]]></Config>
</DataType>