<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db212924-b44f-4169-ae1f-08877b363e3f" Alias="Success Color List" Level="2">
  <Info>
    <Name>Success Color List</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Color+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "4F5955",
      "label": "Primary"
    },
    {
      "value": "535656",
      "label": "Grey-400"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>