<?xml version="1.0" encoding="utf-8"?>
<DataType Key="900b8ce5-e832-4d2a-be7a-46c1420cef7c" Alias="Team Section - Team Member List " Level="1">
  <Info>
    <Name>Team Section - Team Member List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "eefc3656-a52b-4d93-9337-25d307482083",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>