<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="608c6a9f-547d-43a2-ae0f-7f14cd668cbe" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="84d54f1e-d8f2-4ea7-a26c-c400b5165804">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="97ae0ad6-f319-4fb8-bdad-26da5038f5df" SortOrder="0">contactPage</ContentType>
    <ContentType Key="f9444c30-067a-41d9-a3f9-d5f8271ca26a" SortOrder="1">servicePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8a3d767f-e6c8-483a-8834-e66f166db634</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>511170ae-ba9b-4463-95b6-943768375ca3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a0b1d2e8-04da-4ee1-80e5-ac7c875648dd</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>