<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9444c30-067a-41d9-a3f9-d5f8271ca26a" Alias="servicePage" Level="2">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-circle-dotted-active</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9e5e7fa0-c08d-4ee9-bf48-6249350b1787">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>servicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1d9bb02d-1093-466b-af52-1e5e91114a3d">servicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6ce5b38b-dfbc-4e08-8e44-a8e1cbc3708c</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>511170ae-ba9b-4463-95b6-943768375ca3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3553a0da-7a8b-404a-9b58-ed10c540795e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>