<?xml version="1.0" encoding="utf-8"?>
<Media Key="96ca3bc4-deb6-4fac-9f70-c438bc397b89" Alias="5-stars.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/starssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T14:42:45</CreateDate>
    <NodeName Default="5-stars.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g0dgq3fn/5-stars.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>