<?xml version="1.0" encoding="utf-8"?>
<Media Key="0548f0c6-e78d-4240-84c7-b81be5fed4f0" Alias="Aaron Lambert.svg" Level="2">
  <Info>
    <Parent Key="dfe09cb0-8079-4e2b-aec1-23d402e9a72d">Team</Parent>
    <Path>/Team/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T16:17:02</CreateDate>
    <NodeName Default="Aaron Lambert.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/grgpvz2w/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>