<?xml version="1.0" encoding="utf-8"?>
<Media Key="055ab65a-6773-4275-be7e-cafd30cdddd0" Alias="AJ C.svg" Level="2">
  <Info>
    <Parent Key="dfe09cb0-8079-4e2b-aec1-23d402e9a72d">Team</Parent>
    <Path>/Team/AJCsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T16:17:02</CreateDate>
    <NodeName Default="AJ C.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vafprz1i/aj-c.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>