<?xml version="1.0" encoding="utf-8"?>
<Media Key="edbbabb8-ad2e-41eb-8002-49926ba95582" Alias="bg-contact-callback.svg" Level="2">
  <Info>
    <Parent Key="a797e67c-453d-41d1-ae2b-d03667172690">Contact</Parent>
    <Path>/Contact/bgContactCallbacksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:03:08</CreateDate>
    <NodeName Default="bg-contact-callback.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jilbsdzv/bg-contact-callback.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>