<?xml version="1.0" encoding="utf-8"?>
<Media Key="658f7827-1ce8-4688-9ea2-65d7ef6bb603" Alias="Brandon K.svg" Level="2">
  <Info>
    <Parent Key="dfe09cb0-8079-4e2b-aec1-23d402e9a72d">Team</Parent>
    <Path>/Team/BrandonKsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T16:17:02</CreateDate>
    <NodeName Default="Brandon K.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0xcd1b5t/brandon-k.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>