<?xml version="1.0" encoding="utf-8"?>
<Media Key="acb74a0d-d8e3-44f2-9db2-9329d4212aa3" Alias="Brandon N.svg" Level="2">
  <Info>
    <Parent Key="dfe09cb0-8079-4e2b-aec1-23d402e9a72d">Team</Parent>
    <Path>/Team/BrandonNsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T16:17:02</CreateDate>
    <NodeName Default="Brandon N.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/551bktxy/brandon-n.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>