<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe70569b-d3d9-4bc8-904f-e5bc62ba3f08" Alias="Contact-Img.svg" Level="2">
  <Info>
    <Parent Key="a797e67c-453d-41d1-ae2b-d03667172690">Contact</Parent>
    <Path>/Contact/ContactImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T13:48:59</CreateDate>
    <NodeName Default="Contact-Img.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nhvnehgc/contact-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>