<?xml version="1.0" encoding="utf-8"?>
<Media Key="a797e67c-453d-41d1-ae2b-d03667172690" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-23T13:49:18</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>