<?xml version="1.0" encoding="utf-8"?>
<Media Key="851ed35a-ef08-4550-875b-1525f7d79e4f" Alias="Home-Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T14:04:16</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vbxlyzyt/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>