<?xml version="1.0" encoding="utf-8"?>
<Media Key="10ebe12c-074e-4fab-8bcf-c33d39a4bde6" Alias="image-21-min 2.svg" Level="2">
  <Info>
    <Parent Key="35f0360b-0a7f-4cf8-ae69-0b92807122e8">Services</Parent>
    <Path>/Services/image21Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T13:10:47</CreateDate>
    <NodeName Default="image-21-min 2.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1zoet2sv/image-21-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>