<?xml version="1.0" encoding="utf-8"?>
<Media Key="d99b4f3a-f4c6-437c-9d2c-668782ee61d2" Alias="Img-1 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:46:39</CreateDate>
    <NodeName Default="Img-1 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zdzdso43/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>