<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d6e7ef3-b2b1-4bf4-a7dd-dc16c59c4660" Alias="kevin-review.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinReviewsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T14:44:22</CreateDate>
    <NodeName Default="kevin-review.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ahbny13k/kevin-review.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>