<?xml version="1.0" encoding="utf-8"?>
<Media Key="7534bae6-82af-4cb3-aabc-75b6064e90bc" Alias="Kevin G.svg" Level="2">
  <Info>
    <Parent Key="dfe09cb0-8079-4e2b-aec1-23d402e9a72d">Team</Parent>
    <Path>/Team/KevinGsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T16:17:02</CreateDate>
    <NodeName Default="Kevin G.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cqdjnf3u/kevin-g.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>