<?xml version="1.0" encoding="utf-8"?>
<Media Key="0990f8cf-b576-454a-86b1-8fba8a0b85f1" Alias="logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T10:09:58</CreateDate>
    <NodeName Default="logo.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hvcdf01n/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>