<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1e1e948-21f9-4685-98a1-4b409cda8da0" Alias="Miranda D.svg" Level="2">
  <Info>
    <Parent Key="dfe09cb0-8079-4e2b-aec1-23d402e9a72d">Team</Parent>
    <Path>/Team/MirandaDsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T16:17:02</CreateDate>
    <NodeName Default="Miranda D.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xjkegm5c/miranda-d.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>