<?xml version="1.0" encoding="utf-8"?>
<Media Key="5769cb24-640f-4964-be55-bb1b705da0b0" Alias="OnlineSignature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T12:10:39</CreateDate>
    <NodeName Default="OnlineSignature.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0z1mxniu/onlinesignature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>