<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe2bf936-c0e0-4910-958e-24dcf48af09d" Alias="partner06.svg" Level="2">
  <Info>
    <Parent Key="829c0957-b7a4-422d-9cf6-3a9046c04a86">Partners</Parent>
    <Path>/Partners/partner06svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:04:55</CreateDate>
    <NodeName Default="partner06.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yrcishh1/partner06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>