<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6bf3b1d-b5b8-4c6b-80ce-b0b34356f8d0" Alias="partner05.svg" Level="2">
  <Info>
    <Parent Key="829c0957-b7a4-422d-9cf6-3a9046c04a86">Partners</Parent>
    <Path>/Partners/partner05svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:04:55</CreateDate>
    <NodeName Default="partner05.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/34db0rfd/partner05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>