<?xml version="1.0" encoding="utf-8"?>
<Media Key="a60a044d-54c6-47c3-9d22-1cdcac16331b" Alias="partner01.svg" Level="2">
  <Info>
    <Parent Key="829c0957-b7a4-422d-9cf6-3a9046c04a86">Partners</Parent>
    <Path>/Partners/partner01svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:04:55</CreateDate>
    <NodeName Default="partner01.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x42lqrg3/partner01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>