<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9bbfb98-01d0-4948-9fa9-effbf0e3733b" Alias="partner03.svg" Level="2">
  <Info>
    <Parent Key="829c0957-b7a4-422d-9cf6-3a9046c04a86">Partners</Parent>
    <Path>/Partners/partner03svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T17:04:55</CreateDate>
    <NodeName Default="partner03.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/njdbsk4l/partner03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>