<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2d19e19-16bc-44a2-830c-e7cec6c17048" Alias="post2 1.svg" Level="2">
  <Info>
    <Parent Key="35f0360b-0a7f-4cf8-ae69-0b92807122e8">Services</Parent>
    <Path>/Services/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T13:10:43</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3mrhgqfh/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>