<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb5b4005-d959-4bd2-a1f1-7b00c80e3f89" Alias="Service3.svg" Level="2">
  <Info>
    <Parent Key="35f0360b-0a7f-4cf8-ae69-0b92807122e8">Services</Parent>
    <Path>/Services/Service3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T12:06:21</CreateDate>
    <NodeName Default="Service3.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/454pskkc/service3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>