<?xml version="1.0" encoding="utf-8"?>
<Media Key="82895278-b35d-434f-a850-d01c34447f3d" Alias="Service4.svg" Level="2">
  <Info>
    <Parent Key="35f0360b-0a7f-4cf8-ae69-0b92807122e8">Services</Parent>
    <Path>/Services/Service4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T12:06:21</CreateDate>
    <NodeName Default="Service4.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rlxdwycg/service4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>