<?xml version="1.0" encoding="utf-8"?>
<Media Key="be1064be-df64-4b31-bac7-19ec409f8096" Alias="Service1.svg" Level="2">
  <Info>
    <Parent Key="35f0360b-0a7f-4cf8-ae69-0b92807122e8">Services</Parent>
    <Path>/Services/Service1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T12:06:21</CreateDate>
    <NodeName Default="Service1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jtmlexd5/service1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>