<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2764514-3ebb-4785-be44-e5bfe1e14435" Alias="Service2.svg" Level="2">
  <Info>
    <Parent Key="35f0360b-0a7f-4cf8-ae69-0b92807122e8">Services</Parent>
    <Path>/Services/Service2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T12:06:21</CreateDate>
    <NodeName Default="Service2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/212niufa/service2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>