<?xml version="1.0" encoding="utf-8"?>
<Media Key="8775d72e-d8c0-4c71-a6c1-311001be40f3" Alias="Service5.svg" Level="2">
  <Info>
    <Parent Key="35f0360b-0a7f-4cf8-ae69-0b92807122e8">Services</Parent>
    <Path>/Services/Service5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T12:06:21</CreateDate>
    <NodeName Default="Service5.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1rvnozo1/service5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>