<?xml version="1.0" encoding="utf-8"?>
<Media Key="35f0360b-0a7f-4cf8-ae69-0b92807122e8" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-24T12:02:32</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>