<?xml version="1.0" encoding="utf-8"?>
<Media Key="a91e48f0-4cf2-45f4-b613-56135534b581" Alias="Service6.svg" Level="2">
  <Info>
    <Parent Key="35f0360b-0a7f-4cf8-ae69-0b92807122e8">Services</Parent>
    <Path>/Services/Service6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T12:06:21</CreateDate>
    <NodeName Default="Service6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/al0lys5j/service6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>