<?xml version="1.0" encoding="utf-8"?>
<Media Key="387f435d-74cc-40a7-bcb0-1a95fb159d19" Alias="success.svg" Level="2">
  <Info>
    <Parent Key="35f0360b-0a7f-4cf8-ae69-0b92807122e8">Services</Parent>
    <Path>/Services/successsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:21:36</CreateDate>
    <NodeName Default="success.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v55n1wwx/success.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>