<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfe09cb0-8079-4e2b-aec1-23d402e9a72d" Alias="Team" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T16:17:01</CreateDate>
    <NodeName Default="Team" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>