<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fa86344-6bd4-42f0-8a2a-6eda453b4278" Alias="Tina-about.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaAboutsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T10:25:44</CreateDate>
    <NodeName Default="Tina-about.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w1pav5op/tina-about.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>