<?xml version="1.0" encoding="utf-8"?>
<Media Key="b23eaa17-7624-4ee2-88d1-b977e8a30a3d" Alias="Tina F.svg" Level="2">
  <Info>
    <Parent Key="dfe09cb0-8079-4e2b-aec1-23d402e9a72d">Team</Parent>
    <Path>/Team/TinaFsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T16:17:02</CreateDate>
    <NodeName Default="Tina F.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2uljyub5/tina-f.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>