@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPageHeader>
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation
@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedUrlProvider PublishedUrlProvider

@{ 
    var selection = Model.Ancestors().ToArray(); 
}





<section class="page-header">
    <div class="page-header-content">
        <h2>@Model.PageTitle</h2>

        <div class="bc-container">
            @if (selection?.Length > 0)
            {
                <ul class="breadcrumb">
                    @foreach (var item in selection.OrderBy(x => x.Level))
                    {
                        <li>
                            <a href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                            <span class="divider"><i class="fa-solid fa-chevron-right"></i></span>
                        </li>
                    }

                    <li class="bc-active">@Model.Name</li>
                </ul>
            }
        </div>
    </div>
</section>