<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9366cdf-bd7d-45a9-ad5c-6dc8525ca285" Alias="2025-11-06 14:43 - Jennie" Level="2">
  <Info>
    <Parent Key="18d6c3e3-2381-4c24-bd39-be24b62c3349">Form Submissons</Parent>
    <Path>/FormSubmissons/Jennie</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T14:43:38</CreateDate>
    <NodeName Default="2025-11-06 14:43 - Jennie" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[dahl01@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jennie]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Other]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[076066]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>