<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4f68550-2b8f-49e7-93d7-28ab13936452" Alias="2025-11-07 12:41 - Question" Level="2">
  <Info>
    <Parent Key="3bd58eb8-1d06-4cb7-a462-8d35a85b8b12">Question Submissions</Parent>
    <Path>/QuestionSubmissions/Question</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-07T12:41:34</CreateDate>
    <NodeName Default="2025-11-07 12:41 - Question" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[question@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestMessage>
      <Value><![CDATA[Hej jag undrar..]]></Value>
    </questionRequestMessage>
    <questionRequestName>
      <Value><![CDATA[Question]]></Value>
    </questionRequestName>
  </Properties>
</Content>