<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf865638-131d-4c72-be0f-8a84ec8c6329" Alias="2025-11-06 14:42 - Felicia Dahl" Level="2">
  <Info>
    <Parent Key="18d6c3e3-2381-4c24-bd39-be24b62c3349">Form Submissons</Parent>
    <Path>/FormSubmissons/FeliciaDahl</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T14:42:54</CreateDate>
    <NodeName Default="2025-11-06 14:42 - Felicia Dahl" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[felicia@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Felicia Dahl]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[07605555]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>