<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d7aa8b7-42ff-4dcf-9735-5a955ac70a2f" Alias="2025-11-06 10:40 - Felicia" Level="2">
  <Info>
    <Parent Key="18d6c3e3-2381-4c24-bd39-be24b62c3349">Form Submissons</Parent>
    <Path>/FormSubmissons/Felicia</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T10:40:57</CreateDate>
    <NodeName Default="2025-11-06 10:40 - Felicia" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[felicia@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Felicia]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Advisor]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[070556688]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>