<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad34673a-4c4d-4e34-97ee-00c5235803f7" Alias="2025-11-06 11:25 - Pia" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Pia</Path>
    <Trashed Parent="18d6c3e3-2381-4c24-bd39-be24b62c3349">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T11:25:01</CreateDate>
    <NodeName Default="2025-11-06 11:25 - Pia" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[pia@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Pia]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[075668855]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>