<?xml version="1.0" encoding="utf-8"?>
<Content Key="77257273-32ef-442e-b482-9e72dbb64abf" Alias="2025-11-06 11:53 - test1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/test1</Path>
    <Trashed Parent="18d6c3e3-2381-4c24-bd39-be24b62c3349">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T11:53:54</CreateDate>
    <NodeName Default="2025-11-06 11:53 - test1" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test1]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0765854552]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>