<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d08cf72-8060-44fe-9551-262288e0637f" Alias="2025-11-10 12:07 - FeliciaL" Level="2">
  <Info>
    <Parent Key="18d6c3e3-2381-4c24-bd39-be24b62c3349">Form Submissons</Parent>
    <Path>/FormSubmissons/FeliciaL</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T12:07:30</CreateDate>
    <NodeName Default="2025-11-10 12:07 - FeliciaL" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[feli@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[FeliciaL]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[07564852]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>