<?xml version="1.0" encoding="utf-8"?>
<Content Key="75dc408c-c138-475a-ac92-f8e66d46f4cf" Alias="2025-11-10 12:06 - FeliciaD" Level="2">
  <Info>
    <Parent Key="3bd58eb8-1d06-4cb7-a462-8d35a85b8b12">Question Submissions</Parent>
    <Path>/QuestionSubmissions/FeliciaD</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-10T12:06:00</CreateDate>
    <NodeName Default="2025-11-10 12:06 - FeliciaD" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[feli@test.com]]></Value>
    </questionRequestEmail>
    <questionRequestMessage>
      <Value><![CDATA[Hej jag undrar en grej...]]></Value>
    </questionRequestMessage>
    <questionRequestName>
      <Value><![CDATA[FeliciaD]]></Value>
    </questionRequestName>
  </Properties>
</Content>