<?xml version="1.0" encoding="utf-8"?>
<Content Key="7045a95a-1502-434a-9ba2-b2ddf727888d" Alias="2025-11-06 14:36 - Felicia Lindgren Dahl" Level="2">
  <Info>
    <Parent Key="18d6c3e3-2381-4c24-bd39-be24b62c3349">Form Submissons</Parent>
    <Path>/FormSubmissons/FeliciaLindgrenDahl</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T14:36:41</CreateDate>
    <NodeName Default="2025-11-06 14:36 - Felicia Lindgren Dahl" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[feliciadahl01@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Felicia Lindgren Dahl]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0760298169]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>