<?xml version="1.0" encoding="utf-8"?>
<Content Key="b06c30ca-5aa3-4db0-ab30-7a09eef8b147" Alias="2025-11-06 10:54 - Anders" Level="2">
  <Info>
    <Parent Key="18d6c3e3-2381-4c24-bd39-be24b62c3349">Form Submissons</Parent>
    <Path>/FormSubmissons/Anders</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T10:54:44</CreateDate>
    <NodeName Default="2025-11-06 10:54 - Anders" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[anders@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Anders]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Advisor]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[075446655]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>