<?xml version="1.0" encoding="utf-8"?>
<Content Key="9236f59a-7670-4a6a-8998-177daaa11a22" Alias="2025-11-07 12:35 - Fråga" Level="2">
  <Info>
    <Parent Key="18d6c3e3-2381-4c24-bd39-be24b62c3349">Form Submissons</Parent>
    <Path>/FormSubmissons/Fraaga</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-07T12:35:44</CreateDate>
    <NodeName Default="2025-11-07 12:35 - Fråga" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[question@mail.com]]></Value>
    </questionRequestEmail>
    <questionRequestMessage>
      <Value><![CDATA[Hej! Jag har en fråga!]]></Value>
    </questionRequestMessage>
    <questionRequestName>
      <Value><![CDATA[Fråga]]></Value>
    </questionRequestName>
  </Properties>
</Content>