<?xml version="1.0" encoding="utf-8"?>
<Content Key="aaf1e88f-1582-4318-aa9c-0ec27352327c" Alias="2025-11-06 10:56 - Sol" Level="2">
  <Info>
    <Parent Key="18d6c3e3-2381-4c24-bd39-be24b62c3349">Form Submissons</Parent>
    <Path>/FormSubmissons/Sol</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T10:56:56</CreateDate>
    <NodeName Default="2025-11-06 10:56 - Sol" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[sol@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Sol]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Advisor]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[075446688]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>