<?xml version="1.0" encoding="utf-8"?>
<Content Key="be24c6ae-b972-4e79-94f8-eb3f595906d3" Alias="About" Level="2">
  <Info>
    <Parent Key="2f420c2d-006e-486f-9951-352b6443f691">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-27T16:16:41</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f1221d36-9de8-4f2f-8085-60bd0f5f734a">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "011e6c36-1ac7-49c7-bfc9-c280689cf0ea",
      "key": "5d3ddbe1-b09f-4eb3-84d6-1a5db21aa48d",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR EXPERT"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "eefc3656-a52b-4d93-9337-25d307482083",
                "key": "91c67336-e103-4bec-8aa9-7e7a7b5849dd",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "946c8ae9-d03a-4282-a994-d06b9edcb8a8",
                        "mediaKey": "acb74a0d-d8e3-44f2-9db2-9329d4212aa3",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eefc3656-a52b-4d93-9337-25d307482083",
                "key": "479d3104-96a4-4956-8bb6-32c2f2afa2e4",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bc00cb6a-6b91-44cc-987f-c9cdcffa09c8",
                        "mediaKey": "055ab65a-6773-4275-be7e-cafd30cdddd0",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eefc3656-a52b-4d93-9337-25d307482083",
                "key": "2068939a-b26c-4bd6-af9f-b02d2489a5dc",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Arron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a70196cd-1c31-4eb9-bbc7-6cae32f85944",
                        "mediaKey": "0548f0c6-e78d-4240-84c7-b81be5fed4f0",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eefc3656-a52b-4d93-9337-25d307482083",
                "key": "80193147-93e8-4c21-a28e-effe6ae41bbb",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "38dc8e69-6402-4819-9f17-e1ad9f5525ed",
                        "mediaKey": "b23eaa17-7624-4ee2-88d1-b977e8a30a3d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eefc3656-a52b-4d93-9337-25d307482083",
                "key": "ecb5b149-2a8b-4af1-b711-6228e5753fff",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5d968779-bd24-4a79-a1e4-d12d1ca17f49",
                        "mediaKey": "658f7827-1ce8-4688-9ea2-65d7ef6bb603",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eefc3656-a52b-4d93-9337-25d307482083",
                "key": "dfd32901-ed5c-4809-bef1-31afd9d6b32f",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "28b8f1f2-65ac-45fd-b8c4-f369bc13194a",
                        "mediaKey": "d1e1e948-21f9-4685-98a1-4b409cda8da0",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eefc3656-a52b-4d93-9337-25d307482083",
                "key": "8f5864b6-008f-45db-97c3-b49e3f2a8c01",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b3b5a300-ae50-4908-9326-4bb996f5e89f",
                        "mediaKey": "7534bae6-82af-4cb3-aabc-75b6064e90bc",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "91c67336-e103-4bec-8aa9-7e7a7b5849dd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "479d3104-96a4-4956-8bb6-32c2f2afa2e4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2068939a-b26c-4bd6-af9f-b02d2489a5dc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "80193147-93e8-4c21-a28e-effe6ae41bbb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ecb5b149-2a8b-4af1-b711-6228e5753fff",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "dfd32901-ed5c-4809-bef1-31afd9d6b32f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8f5864b6-008f-45db-97c3-b49e3f2a8c01",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "91c67336-e103-4bec-8aa9-7e7a7b5849dd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "479d3104-96a4-4956-8bb6-32c2f2afa2e4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2068939a-b26c-4bd6-af9f-b02d2489a5dc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "80193147-93e8-4c21-a28e-effe6ae41bbb",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ecb5b149-2a8b-4af1-b711-6228e5753fff",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "dfd32901-ed5c-4809-bef1-31afd9d6b32f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8f5864b6-008f-45db-97c3-b49e3f2a8c01",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5d3ddbe1-b09f-4eb3-84d6-1a5db21aa48d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5d3ddbe1-b09f-4eb3-84d6-1a5db21aa48d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>