<?xml version="1.0" encoding="utf-8"?>
<Content Key="54878a08-dfe4-42df-8555-6c0c980dc90d" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="c54a8fb6-b4dd-4fe6-bc4d-a84f1c3ff296">Service</Parent>
    <Path>/Home/Service/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T10:00:44</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="08a4b163-7f6b-46c9-8fa6-0965ee19a3b3">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "e107d83c-6582-439e-bfb6-3a320c44912b",
    "mediaKey": "b2764514-3ebb-4785-be44-e5bfe1e14435",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>