<?xml version="1.0" encoding="utf-8"?>
<Content Key="32f48aed-70f1-4666-8306-372bb30fb7fa" Alias="Contact" Level="2">
  <Info>
    <Parent Key="2f420c2d-006e-486f-9951-352b6443f691">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-23T13:49:40</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86289296-bdfe-4b87-a80a-bfe53d758d16">contactPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6271c20f-b068-48e3-972f-95535e78dd19",
      "key": "844b95a7-24a8-4dc8-8637-b89eed66e0a6",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "locationTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "more info will come"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "464f5f38-bf67-4a84-bb86-521af0a84a20",
              "mediaKey": "fe70569b-d3d9-4bc8-904f-e5bc62ba3f08",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "844b95a7-24a8-4dc8-8637-b89eed66e0a6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "844b95a7-24a8-4dc8-8637-b89eed66e0a6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>