<?xml version="1.0" encoding="utf-8"?>
<Content Key="32f48aed-70f1-4666-8306-372bb30fb7fa" Alias="Contact" Level="2">
  <Info>
    <Parent Key="2f420c2d-006e-486f-9951-352b6443f691">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-23T13:49:40</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86289296-bdfe-4b87-a80a-bfe53d758d16">contactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "410f1916-63a1-40f1-9779-8372a655f1dc",
      "key": "80d65af0-d7e9-4fbe-89ee-705a2cdb0288",
      "udi": null,
      "values": [
        {
          "alias": "partnersList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "1d9bb94a-355e-4ad0-adbd-154ceebd1324",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FreedomBird"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": "_blank",
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1fce9447-d530-48bc-98d4-35c58d2a9d4d",
                        "mediaKey": "a60a044d-54c6-47c3-9d22-1cdcac16331b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "9dfc3d75-1e8c-4c1d-903c-59283efc014a",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": null,
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f6358389-16d6-4b6c-8762-4365b4458002",
                        "mediaKey": "22921dd3-def2-4b34-a4b4-b9c3a36c7017",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "de6fcbcd-3a33-4b25-9837-e07785a45801",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": "_blank",
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f01d6f60-92cd-44c1-9844-15605b59ef40",
                        "mediaKey": "c9bbfb98-01d0-4948-9fa9-effbf0e3733b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "4406b258-4eb2-4dce-a32c-4d12a0113595",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": null,
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1f078a07-ba71-4320-8f29-6f3c7186128b",
                        "mediaKey": "b56082d7-0f25-40d7-a7ee-df2ad45bacd8",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "3865e887-84c1-40c4-bcf0-661f95b1c5f1",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": "_blank",
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "cd906f8d-a485-4821-bb4c-a87409670c86",
                        "mediaKey": "a6bf3b1d-b5b8-4c6b-80ce-b0b34356f8d0",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "4377fa92-43e8-4d7b-9bce-4647d4f607b3",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": "_blank",
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bc7aa0ac-cd80-4a1a-8e56-802674a6da4a",
                        "mediaKey": "fe2bf936-c0e0-4910-958e-24dcf48af09d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "1d9bb94a-355e-4ad0-adbd-154ceebd1324",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9dfc3d75-1e8c-4c1d-903c-59283efc014a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "de6fcbcd-3a33-4b25-9837-e07785a45801",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4406b258-4eb2-4dce-a32c-4d12a0113595",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3865e887-84c1-40c4-bcf0-661f95b1c5f1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4377fa92-43e8-4d7b-9bce-4647d4f607b3",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "1d9bb94a-355e-4ad0-adbd-154ceebd1324",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9dfc3d75-1e8c-4c1d-903c-59283efc014a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "de6fcbcd-3a33-4b25-9837-e07785a45801",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4406b258-4eb2-4dce-a32c-4d12a0113595",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3865e887-84c1-40c4-bcf0-661f95b1c5f1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4377fa92-43e8-4d7b-9bce-4647d4f607b3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "6271c20f-b068-48e3-972f-95535e78dd19",
      "key": "fdb3250a-b7e2-42a1-9837-a92b4f2addb0",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "360435d7-887c-4b79-8229-de63babb5ab9",
              "mediaKey": "fe70569b-d3d9-4bc8-904f-e5bc62ba3f08",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a665cbdf-300e-408c-a177-edb3f0abbad5",
      "key": "5e947dce-6372-4e24-9e56-6505a941694d",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "80d65af0-d7e9-4fbe-89ee-705a2cdb0288",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fdb3250a-b7e2-42a1-9837-a92b4f2addb0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "fdb3250a-b7e2-42a1-9837-a92b4f2addb0",
        "contentUdi": null,
        "settingsKey": "5e947dce-6372-4e24-9e56-6505a941694d",
        "settingsUdi": null
      },
      {
        "contentKey": "80d65af0-d7e9-4fbe-89ee-705a2cdb0288",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>