<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bc63dba-5044-43b0-ae60-fe5b08cca59a" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="c54a8fb6-b4dd-4fe6-bc4d-a84f1c3ff296">Service</Parent>
    <Path>/Home/Service/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T09:59:30</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="08a4b163-7f6b-46c9-8fa6-0965ee19a3b3">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "fcecce27-b5eb-40b0-a53a-db3cffabfd52",
    "mediaKey": "8775d72e-d8c0-4c71-a6c1-311001be40f3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>