<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f420c2d-006e-486f-9951-352b6443f691" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-23T13:17:07</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84d54f1e-d8f2-4ea7-a26c-c400b5165804">HomePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b45611ea-ad11-4c84-b0fe-c2c36c71d959",
      "key": "bc2f6ea8-884d-4edf-b6c2-dc50046a175e",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7c2a1428-360e-4567-9a34-36551cc57dcb",
              "mediaKey": "851ed35a-ef08-4550-875b-1525f7d79e4f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/32f48aed70f146668306372bb30fb7fa",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "cd3fb94b-b147-4121-b684-3cd2e978cbe1",
      "key": "98056ccd-cd83-4717-9354-1cd28ac7ce3a",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "acfa3f9d-2423-4661-a099-676712acaa3b",
      "key": "955e63de-5be5-41c0-9af3-66885003bfd9",
      "udi": null,
      "values": [
        {
          "alias": "sectionText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe are trusted by more than\u003C/span\u003E\u003Cbr\u003E\u003Cspan class=\u0022text-secondary-dark\u0022\u003E4.000\u002B clients\u003C/span\u003E\u003C/h2\u003E\u003Cp style=\u0022text-align: center\u0022\u003E\u003C/p\u003E\u003Cblockquote\u003E\u003Cp style=\u0022text-align: center\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/p\u003E\u003C/blockquote\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "sectionImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "77dacd8b-7857-40d4-aa61-1e040f39f9dc",
              "mediaKey": "d99b4f3a-f4c6-437c-9d2c-668782ee61d2",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "sectionLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/be24c6aeb9724e7994f8eb3f595906d3",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "410f1916-63a1-40f1-9779-8372a655f1dc",
      "key": "19934131-2e86-4bdc-bf4d-677bdee09bd5",
      "udi": null,
      "values": [
        {
          "alias": "partnersList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "e608f483-0160-4fe3-b479-a95d033657c5",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FreedomBird"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": "_blank",
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1fce9447-d530-48bc-98d4-35c58d2a9d4d",
                        "mediaKey": "a60a044d-54c6-47c3-9d22-1cdcac16331b",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "be6b67fc-a9b6-4c82-a3a9-cc8f5a45039e",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": null,
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f6358389-16d6-4b6c-8762-4365b4458002",
                        "mediaKey": "22921dd3-def2-4b34-a4b4-b9c3a36c7017",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "21718891-95b0-4e35-a29b-d8f89e8e3b52",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": "_blank",
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f01d6f60-92cd-44c1-9844-15605b59ef40",
                        "mediaKey": "c9bbfb98-01d0-4948-9fa9-effbf0e3733b",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "5a5f38a7-743b-406a-aaad-668d442e0c41",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": null,
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1f078a07-ba71-4320-8f29-6f3c7186128b",
                        "mediaKey": "b56082d7-0f25-40d7-a7ee-df2ad45bacd8",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "c1aa5523-a158-40bc-8cf8-9d280eff220e",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": "_blank",
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "cd906f8d-a485-4821-bb4c-a87409670c86",
                        "mediaKey": "a6bf3b1d-b5b8-4c6b-80ce-b0b34356f8d0",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "eda2a6d7-5c24-4124-9705-4a721390a948",
                "key": "68c77df9-a6ce-4f0f-8419-789f6230482d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Home",
                        "target": "_blank",
                        "udi": "umb://document/2f420c2d006e486f9951352b6443f691",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bc7aa0ac-cd80-4a1a-8e56-802674a6da4a",
                        "mediaKey": "fe2bf936-c0e0-4910-958e-24dcf48af09d",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e608f483-0160-4fe3-b479-a95d033657c5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "be6b67fc-a9b6-4c82-a3a9-cc8f5a45039e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "21718891-95b0-4e35-a29b-d8f89e8e3b52",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5a5f38a7-743b-406a-aaad-668d442e0c41",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c1aa5523-a158-40bc-8cf8-9d280eff220e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "68c77df9-a6ce-4f0f-8419-789f6230482d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e608f483-0160-4fe3-b479-a95d033657c5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "be6b67fc-a9b6-4c82-a3a9-cc8f5a45039e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "21718891-95b0-4e35-a29b-d8f89e8e3b52",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5a5f38a7-743b-406a-aaad-668d442e0c41",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c1aa5523-a158-40bc-8cf8-9d280eff220e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "68c77df9-a6ce-4f0f-8419-789f6230482d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "51405ab0-a259-4352-8fd1-9e010771cb3f",
      "key": "b8918697-55b7-4e9b-8d7a-3a258b9f0c51",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bc2f6ea8-884d-4edf-b6c2-dc50046a175e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "98056ccd-cd83-4717-9354-1cd28ac7ce3a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "955e63de-5be5-41c0-9af3-66885003bfd9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "19934131-2e86-4bdc-bf4d-677bdee09bd5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bc2f6ea8-884d-4edf-b6c2-dc50046a175e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "98056ccd-cd83-4717-9354-1cd28ac7ce3a",
        "contentUdi": null,
        "settingsKey": "b8918697-55b7-4e9b-8d7a-3a258b9f0c51",
        "settingsUdi": null
      },
      {
        "contentKey": "955e63de-5be5-41c0-9af3-66885003bfd9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "19934131-2e86-4bdc-bf4d-677bdee09bd5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>