<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f420c2d-006e-486f-9951-352b6443f691" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-23T13:17:07</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84d54f1e-d8f2-4ea7-a26c-c400b5165804">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b45611ea-ad11-4c84-b0fe-c2c36c71d959",
      "key": "bc2f6ea8-884d-4edf-b6c2-dc50046a175e",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7c2a1428-360e-4567-9a34-36551cc57dcb",
              "mediaKey": "851ed35a-ef08-4550-875b-1525f7d79e4f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/32f48aed70f146668306372bb30fb7fa",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "cd3fb94b-b147-4121-b684-3cd2e978cbe1",
      "key": "98056ccd-cd83-4717-9354-1cd28ac7ce3a",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceCardList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "28ddbe55-fb8d-477f-aa5a-ffa961b2e468",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8e61ee96-9d14-4515-9c48-f149de55cba0",
                        "mediaKey": "be1064be-df64-4b31-bac7-19ec409f8096",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "7e3b1287-5528-4394-9ef3-705aead931f1",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a30e3b72-2012-42db-a571-66488ecd69cc",
                        "mediaKey": "b2764514-3ebb-4785-be44-e5bfe1e14435",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "2487258a-92cc-4fb4-a4e6-e2d1ce798d2e",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e328a06a-d31d-4c0d-b6a5-51836dde4af6",
                        "mediaKey": "cb5b4005-d959-4bd2-a1f1-7b00c80e3f89",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "2a842fd1-b1e7-48ba-b439-3bee178a1564",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "344560f6-1cf7-4014-8366-64954ea864ca",
                        "mediaKey": "82895278-b35d-434f-a850-d01c34447f3d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "178a6bf5-edf4-46bc-b1f2-aa2d35e6d44b",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "886ba1cf-a75d-4239-ab1f-03d6c8959975",
                        "mediaKey": "8775d72e-d8c0-4c71-a6c1-311001be40f3",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "94dc5c78-9f8b-428d-b339-1683907954dc",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b2eba199-da83-4e9f-8714-ddfb4a52b117",
                        "mediaKey": "a91e48f0-4cf2-45f4-b613-56135534b581",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "28ddbe55-fb8d-477f-aa5a-ffa961b2e468",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7e3b1287-5528-4394-9ef3-705aead931f1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2487258a-92cc-4fb4-a4e6-e2d1ce798d2e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2a842fd1-b1e7-48ba-b439-3bee178a1564",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "178a6bf5-edf4-46bc-b1f2-aa2d35e6d44b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "94dc5c78-9f8b-428d-b339-1683907954dc",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "28ddbe55-fb8d-477f-aa5a-ffa961b2e468",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7e3b1287-5528-4394-9ef3-705aead931f1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2487258a-92cc-4fb4-a4e6-e2d1ce798d2e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2a842fd1-b1e7-48ba-b439-3bee178a1564",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "178a6bf5-edf4-46bc-b1f2-aa2d35e6d44b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "94dc5c78-9f8b-428d-b339-1683907954dc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "51405ab0-a259-4352-8fd1-9e010771cb3f",
      "key": "b8918697-55b7-4e9b-8d7a-3a258b9f0c51",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bc2f6ea8-884d-4edf-b6c2-dc50046a175e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "98056ccd-cd83-4717-9354-1cd28ac7ce3a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bc2f6ea8-884d-4edf-b6c2-dc50046a175e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "98056ccd-cd83-4717-9354-1cd28ac7ce3a",
        "contentUdi": null,
        "settingsKey": "b8918697-55b7-4e9b-8d7a-3a258b9f0c51",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>