<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f5915c0-b8c9-49d5-aa42-4b080902f894" Alias="Projects" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Projects</Path>
    <Trashed Parent="2f420c2d-006e-486f-9951-352b6443f691">true</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2025-11-10T12:45:46</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9702d03a-8a66-41cb-960c-ed8bac6a5665">ProjectPage</Template>
  </Info>
  <Properties />
</Content>