<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bd58eb8-1d06-4cb7-a462-8d35a85b8b12" Alias="Question Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QuestionSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSubmissons</ContentType>
    <CreateDate>2025-11-07T12:39:44</CreateDate>
    <NodeName Default="Question Submissions" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>