<?xml version="1.0" encoding="utf-8"?>
<Content Key="633fbab5-c970-41d6-9bd5-23e94a77f078" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="c54a8fb6-b4dd-4fe6-bc4d-a84f1c3ff296">Service</Parent>
    <Path>/Home/Service/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T10:01:04</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="08a4b163-7f6b-46c9-8fa6-0965ee19a3b3">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "80f58f13-0b04-40c6-9482-f3802be34058",
      "key": "0b4289d7-16b0-44eb-908a-8315b83f2362",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "478ba6e0-78b1-4f1f-9159-513aca11c8a1",
              "mediaKey": "8775d72e-d8c0-4c71-a6c1-311001be40f3",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tenetur quod quidem in voluptatem corporis dolorum dicta sit pariatur porro quaerat autem ipsam odit quam beatae tempora quibusdam illum! Modi velit odio nam nulla unde amet odit pariatur at!"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0b4289d7-16b0-44eb-908a-8315b83f2362",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0b4289d7-16b0-44eb-908a-8315b83f2362",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "ec512b73-cc2a-4ac7-a9a9-009ce46574fa",
    "mediaKey": "be1064be-df64-4b31-bac7-19ec409f8096",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>