<?xml version="1.0" encoding="utf-8"?>
<Content Key="c54a8fb6-b4dd-4fe6-bc4d-a84f1c3ff296" Alias="Service" Level="2">
  <Info>
    <Parent Key="2f420c2d-006e-486f-9951-352b6443f691">Home</Parent>
    <Path>/Home/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-23T14:11:58</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d9bb02d-1093-466b-af52-1e5e91114a3d">servicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cd3fb94b-b147-4121-b684-3cd2e978cbe1",
      "key": "92b320e0-b272-4ea7-bd30-c372e5b7cb50",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 class=\u0022text-headline\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-headline\u0022 style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan class=\u0022text-headline\u0022 style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6271c20f-b068-48e3-972f-95535e78dd19",
      "key": "b90c8bab-2ca9-4067-a09a-b617c88adce2",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "360435d7-887c-4b79-8229-de63babb5ab9",
              "mediaKey": "fe70569b-d3d9-4bc8-904f-e5bc62ba3f08",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "51405ab0-a259-4352-8fd1-9e010771cb3f",
      "key": "17a1e6db-836b-44ea-9c74-386e4881ffac",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a665cbdf-300e-408c-a177-edb3f0abbad5",
      "key": "f473a9c5-aa74-4397-ba57-d1e1e6077bef",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-200",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "92b320e0-b272-4ea7-bd30-c372e5b7cb50",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b90c8bab-2ca9-4067-a09a-b617c88adce2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "92b320e0-b272-4ea7-bd30-c372e5b7cb50",
        "contentUdi": null,
        "settingsKey": "17a1e6db-836b-44ea-9c74-386e4881ffac",
        "settingsUdi": null
      },
      {
        "contentKey": "b90c8bab-2ca9-4067-a09a-b617c88adce2",
        "contentUdi": null,
        "settingsKey": "f473a9c5-aa74-4397-ba57-d1e1e6077bef",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>