<?xml version="1.0" encoding="utf-8"?>
<Content Key="58650f77-888b-4737-9421-d3e6878a13bc" Alias="Services" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Services</Path>
    <Trashed Parent="2f420c2d-006e-486f-9951-352b6443f691">true</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T12:01:26</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d9bb02d-1093-466b-af52-1e5e91114a3d">servicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cd3fb94b-b147-4121-b684-3cd2e978cbe1",
      "key": "a1033cf9-32df-4b95-9197-2124369b3514",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "51405ab0-a259-4352-8fd1-9e010771cb3f",
      "key": "acf23f2d-8edc-4c70-bc0f-6562248f1c39",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a1033cf9-32df-4b95-9197-2124369b3514",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a1033cf9-32df-4b95-9197-2124369b3514",
        "contentUdi": null,
        "settingsKey": "acf23f2d-8edc-4c70-bc0f-6562248f1c39",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>