<?xml version="1.0" encoding="utf-8"?>
<Content Key="c54a8fb6-b4dd-4fe6-bc4d-a84f1c3ff296" Alias="Service" Level="2">
  <Info>
    <Parent Key="2f420c2d-006e-486f-9951-352b6443f691">Home</Parent>
    <Path>/Home/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-23T14:11:58</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d9bb02d-1093-466b-af52-1e5e91114a3d">servicePage</Template>
  </Info>
  <Properties>
    <section>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cd3fb94b-b147-4121-b684-3cd2e978cbe1",
      "key": "7fb7f48a-f46e-4fc2-a772-29c8ceae5fc2",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: center\u0022\u003EWe Provide The Solutions To Grow Your Business Faster\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceCardList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "37d41782-0c8a-46b5-9fde-7a186914c0ed",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8e61ee96-9d14-4515-9c48-f149de55cba0",
                        "mediaKey": "be1064be-df64-4b31-bac7-19ec409f8096",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "ccb666e7-4e38-41f6-bec0-7816477e0ec3",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a30e3b72-2012-42db-a571-66488ecd69cc",
                        "mediaKey": "b2764514-3ebb-4785-be44-e5bfe1e14435",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "b9b15976-b933-4486-bf5b-fe983779b820",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e328a06a-d31d-4c0d-b6a5-51836dde4af6",
                        "mediaKey": "cb5b4005-d959-4bd2-a1f1-7b00c80e3f89",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "a7014672-e58f-4446-822d-e5e52a01633a",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "344560f6-1cf7-4014-8366-64954ea864ca",
                        "mediaKey": "82895278-b35d-434f-a850-d01c34447f3d",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "827bc144-29c3-4b1a-9bbd-fde4fb396ec4",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "886ba1cf-a75d-4239-ab1f-03d6c8959975",
                        "mediaKey": "8775d72e-d8c0-4c71-a6c1-311001be40f3",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "9648fecd-6800-467f-9b1e-7fd5a82e8451",
                "key": "806959fa-b5cd-4662-8312-3a416140b1d8",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceCardTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceCardImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b2eba199-da83-4e9f-8714-ddfb4a52b117",
                        "mediaKey": "a91e48f0-4cf2-45f4-b613-56135534b581",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceCardText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "37d41782-0c8a-46b5-9fde-7a186914c0ed",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ccb666e7-4e38-41f6-bec0-7816477e0ec3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b9b15976-b933-4486-bf5b-fe983779b820",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a7014672-e58f-4446-822d-e5e52a01633a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "827bc144-29c3-4b1a-9bbd-fde4fb396ec4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "806959fa-b5cd-4662-8312-3a416140b1d8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "37d41782-0c8a-46b5-9fde-7a186914c0ed",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ccb666e7-4e38-41f6-bec0-7816477e0ec3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b9b15976-b933-4486-bf5b-fe983779b820",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a7014672-e58f-4446-822d-e5e52a01633a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "827bc144-29c3-4b1a-9bbd-fde4fb396ec4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "806959fa-b5cd-4662-8312-3a416140b1d8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "51405ab0-a259-4352-8fd1-9e010771cb3f",
      "key": "45992a56-c423-440c-9e4b-acea5dbe48d9",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7fb7f48a-f46e-4fc2-a772-29c8ceae5fc2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7fb7f48a-f46e-4fc2-a772-29c8ceae5fc2",
        "contentUdi": null,
        "settingsKey": "45992a56-c423-440c-9e4b-acea5dbe48d9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </section>
  </Properties>
</Content>