<?xml version="1.0" encoding="utf-8"?>
<Content Key="abd86f8c-7fa8-446b-912f-076c4ece2232" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-25T10:13:57</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <ourPartners>
      <Value><![CDATA[]]></Value>
    </ourPartners>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b6af60cb-f2f1-4db7-a84c-b9b1d5deccde",
      "key": "9039f8f6-4cc0-49db-9812-f58012f1220b",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "b6af60cb-f2f1-4db7-a84c-b9b1d5deccde",
      "key": "087e3139-b20d-4559-84dd-9fa7012234ad",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "b6af60cb-f2f1-4db7-a84c-b9b1d5deccde",
      "key": "7c20c8bd-62e4-481b-918e-b70369cdbd18",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9039f8f6-4cc0-49db-9812-f58012f1220b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "087e3139-b20d-4559-84dd-9fa7012234ad",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7c20c8bd-62e4-481b-918e-b70369cdbd18",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9039f8f6-4cc0-49db-9812-f58012f1220b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7c20c8bd-62e4-481b-918e-b70369cdbd18",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "087e3139-b20d-4559-84dd-9fa7012234ad",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "91108107-2158-4f7b-9369-9dcda119dfe3",
    "mediaKey": "0990f8cf-b576-454a-86b1-8fba8a0b85f1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>