<?xml version="1.0" encoding="utf-8"?>
<Content Key="9df95d80-7f33-475d-b631-8bdf2de4745d" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="c54a8fb6-b4dd-4fe6-bc4d-a84f1c3ff296">Service</Parent>
    <Path>/Home/Service/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T09:58:40</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="08a4b163-7f6b-46c9-8fa6-0965ee19a3b3">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "80f58f13-0b04-40c6-9482-f3802be34058",
      "key": "265b0777-4bc5-4293-b1ac-dd23da5a3311",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "284aa2f4-455c-4adc-b202-3b35ed7caac8",
              "mediaKey": "a91e48f0-4cf2-45f4-b613-56135534b581",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "265b0777-4bc5-4293-b1ac-dd23da5a3311",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "265b0777-4bc5-4293-b1ac-dd23da5a3311",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "6d842a60-d808-49b9-bf09-24b5cb51c190",
    "mediaKey": "a91e48f0-4cf2-45f4-b613-56135534b581",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>