<?xml version="1.0" encoding="utf-8"?>
<Content Key="59f9130f-bb95-4935-963b-d857e353deb5" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="c54a8fb6-b4dd-4fe6-bc4d-a84f1c3ff296">Service</Parent>
    <Path>/Home/Service/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T09:59:53</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="08a4b163-7f6b-46c9-8fa6-0965ee19a3b3">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "452bd051-012b-4be6-b895-5827aedb0583",
    "mediaKey": "82895278-b35d-434f-a850-d01c34447f3d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>